In [2]:
import sqlite3
import pandas as pd

In [11]:
db_path = "../data/db/weather.db"  # Adjust if needed

conn = sqlite3.connect(db_path)

tables = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table';", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,current_weather,current_weather,2,CREATE TABLE current_weather (\n id INT...
1,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
2,table,forecast_weather,forecast_weather,5,CREATE TABLE forecast_weather (\n id IN...

In [15]:
current_weather_df = pd.read_sql_query("SELECT * FROM current_weather", conn)
current_weather_df

,id,city,country,datetime_utc,temp_k,feels_like_k,humidity,pressure,wind_speed,wind_deg,weather_description
0,1,New York,US,2025-05-18 15:21:58,294.46,293.95,50,1002,4.47,257,broken clouds
1,3,New York,US,2025-05-18 16:55:23,295.16,294.70,49,1002,7.15,318,broken clouds

In [17]:
forecast_df = pd.read_sql_query("SELECT * FROM forecast_weather", conn)
forecast_df.head()

,id,city,country,forecast_time_utc,forecast_created_at,temp_k,feels_like_k,humidity,pressure,wind_speed,wind_deg,weather_description
0,1,New York,US,2025-05-18 18:00:00,2025-05-18 15:30:49.662142,294.22,293.69,50,1002,7.94,271,broken clouds
1,2,New York,US,2025-05-18 21:00:00,2025-05-18 15:30:49.663354,293.85,293.26,49,1002,8.14,294,broken clouds
2,3,New York,US,2025-05-19 00:00:00,2025-05-18 15:30:49.663369,289.78,289.07,60,1004,8.07,306,light rain
3,4,New York,US,2025-05-19 03:00:00,2025-05-18 15:30:49.663376,288.54,287.78,63,1006,8.76,314,broken clouds
4,5,New York,US,2025-05-19 06:00:00,2025-05-18 15:30:49.663383,286.44,285.47,63,1006,7.88,318,scattered clouds