In [2]:
import sqlite3
import pandas as pd

In [26]:
db_path = "../data/db/weather.db"  
conn = sqlite3.connect(db_path)
tables = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table';", conn)
current_weather_df = pd.read_sql_query("SELECT * FROM current_weather", conn)
forecast_df = pd.read_sql_query("SELECT * FROM forecast_weather", conn)
print(tables)
print(current_weather_df.head())
print(forecast_df.head())

    type              name          tbl_name  rootpage  \
0  table   current_weather   current_weather         2
1  table   sqlite_sequence   sqlite_sequence         4
2  table  forecast_weather  forecast_weather         5

                                                 sql
0  CREATE TABLE current_weather (\n        id INT...
1             CREATE TABLE sqlite_sequence(name,seq)
2  CREATE TABLE forecast_weather (\n        id IN...
   id      city country         datetime_utc  temp_k  feels_like_k  humidity  \
0   1  New York      US  2025-05-18 15:21:58  294.46        293.95        50
1   3  New York      US  2025-05-18 16:55:23  295.16        294.70        49
2   5  New York      US  2025-05-18 18:47:58  296.30        295.92        48

   pressure  wind_speed  wind_deg weather_description
0      1002        4.47       257       broken clouds
1      1002        7.15       318       broken clouds
2      1001       10.73       296       broken clouds
   id      city country    forecast_time_utc         forecast_created_at  \
0   1  New York      US  2025-05-18 18:00:00  2025-05-18 15:30:49.662142
1   2  New York      US  2025-05-18 21:00:00  2025-05-18 15:30:49.663354
2   3  New York      US  2025-05-19 00:00:00  2025-05-18 15:30:49.663369
3   4  New York      US  2025-05-19 03:00:00  2025-05-18 15:30:49.663376
4   5  New York      US  2025-05-19 06:00:00  2025-05-18 15:30:49.663383

   temp_k  feels_like_k  humidity  pressure  wind_speed  wind_deg  \
0  294.22        293.69        50      1002        7.94       271
1  293.85        293.26        49      1002        8.14       294
2  289.78        289.07        60      1004        8.07       306
3  288.54        287.78        63      1006        8.76       314
4  286.44        285.47        63      1006        7.88       318

  weather_description
0       broken clouds
1       broken clouds
2          light rain
3       broken clouds
4    scattered clouds